<div class="weather-container">
  <h2 class="app-title">Weather-Now</h2>
  <div class="input-container">
    <input
      [(ngModel)]="city"
      placeholder="Enter city name"
      class="city-input"
      (keyup.enter)="getWeather()"
    />
  </div>
  <button (click)="getWeather()" class="get-weather-button">Get Weather</button>
  <button (click)="getCurrentLocation()" class="location-button">
    <img
      width="24"
      height="24"
      src="https://img.icons8.com/material/48/marker--v1.png"
      alt="marker--v1"
    />
  </button>

  <div class="weather-info" *ngIf="weather">
    <h3 class="city-name">{{ weather.name }}</h3>
    <div class="weather-details">
      <div class="weather-description">
        <p><strong>Weather:</strong> {{ weather.weather[0].description }}</p>
        <p><strong>Temperature:</strong> {{ weather.main.temp }} °C</p>
        <p><strong>Humidity:</strong> {{ weather.main.humidity }}%</p>
        <p><strong>Wind Speed:</strong> {{ weather.wind.speed }} m/s</p>
        <p><strong>Latitude:</strong> {{ weather.coord.lat }}</p>
        <p><strong>Longitude:</strong> {{ weather.coord.lon }}</p>
      </div>
    </div>
  </div>
</div>
