.weather-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  background: linear-gradient(135deg, #223c66, #4a90e2); /* Layers of blue */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: white; /* White text */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.city-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 70%;
  transition: border-color 0.3s ease;
  background-color: #ffffff;
  color: #333; /* Dark text inside input field */
}

.city-input:focus {
  border-color: #007bff;
  outline: none;
}

.get-weather-button,
.location-button {
  padding: 12px 24px;
  background-color: #1e90ff; /* New shade of blue */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 10px;
}

.get-weather-button:hover,
.location-button:hover {
  background-color: #1c86ee; /* Slightly darker blue on hover */
  transform: translateY(-2px);
}

.weather-info {
  text-align: center;
  margin-top: 30px;
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.city-name {
  font-size: 24px;
  margin-bottom: 10px;
  color: white; /* White text */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.weather-description {
  font-size: 18px;
  margin-bottom: 15px;
  color: white; /* White text */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.weather-description p {
  margin: 5px 0;
}

.weather-icon img {
  width: 100px;
  height: 100px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.weather-icon {
  position: relative;
  display: inline-block;
}

.weather-icon .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.weather-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
