body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-image: url("../src/assets/blue-sky-with-white-cotton-clouds.jpg");
  background-size: cover;
  background-position: center;
}
